.container
  .row
    .col-sm-6.col-sm-offset-3
      %h2.text-center Sign up
      = bootstrap_form_for(resource,
                           as: resource_name,
                           url: session_path(resource_name)) do |f|
        = devise_error_messages!
        = f.text_field :name,
                       class: 'form-control',
                       placeholder: 'username (will be shown publicly)'
        = f.email_field :email,
                        autofocus: true,
                        class: 'form-control',
                        placeholder: "email"
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        = f.password_field :password,
                            class: 'form-control',
                            placeholder: "new password"
        = f.password_field :password_confirmation,
                           class: 'form-control',
                           placeholder: 'new password'
        = f.submit "Sign up",
                   class: 'form-control sign-up-button'
      = render "devise/shared/links"
